.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filters {
  display: flex;
  margin-bottom: 2rem;
  width: 85%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.input_container {
  text-align: center;
  width: 12%;
  min-width: 250px;
  margin: 0.5rem;
  height: 100%;
}

.header {
  margin: 1rem 0.5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.card {
  display: flex;
  width: 100%;
}

.error_title {
  color: #3182ce;
  text-align: center;
  margin-top: 100px;
}

.modal_close {
  width: 0%;
}

.modal_open {
  width: 40%;
  transition: width 1s;
  margin-left: 0.5rem;
}

.boldText {
  font-family: "Roboto Bold";
  color: var(--blue);
}