@import "../../styles/index.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-height: 80vh;
  width: 100%;
  color: var(--gray-text);
}

.status_container {
  display: flex;
  flex-direction: column;
  margin: $m-mbY;
  list-style: none;
}

.bottom {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  margin: $m-mbY;
}

.m_v {
  margin: $m-mbY;
}

.message {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
