.wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.content {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.graph {
  width: 600px;
}

.graphContainer {
  width: 100%;
  padding: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.boldText {
  font-family: "Roboto Bold";
  color: var(--blue);
  margin-left: 0.5rem;
}

.header {
  margin: 1rem 0.5rem;
}
