@import "../../styles/index.scss";

.client_sub {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  @include mq("phone", "max") {
    height: auto;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  flex-wrap: wrap;
  @include mq("phone", "max") {
    margin: $m-mbY;
  }
}

.child {
  align-items: center;
  display: flex;
}

.ctnr_sm {
  display: flex;
  min-height: 30%;
  justify-content: space-between;
  @include mq("phone", "max") {
    flex-direction: column;
  }
}

.ctnr_lg {
  display: flex;
  height: 35%;
  @include mq("phone", "max") {
    flex-direction: column;
  }
}

.content {
  display: flex;
  width: 100%;
  @include mq("phone", "max") {
    flex-direction: column;
  }
}

.card_wrapper {
  display: flex;
  width: 100%;
  margin: 0.25rem;
  @include mq("phone", "max") {
    margin: 0.25rem 0rem;
    height: 100%;
  }
}

.cardContent {
  height: 100%;
  margin: 0.5rem 1rem;
  overflow: auto;
  scrollbar-color: #2c5282e8 white;
  scrollbar-width: thin;
  @include mq("phone", "max") {
    margin: 0.25rem 0.5rem;
  }
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
  }
}

.titleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0rem 1rem;
  margin-top: 1rem;
  @include mq("phone", "max") {
    margin: 0rem 0.5rem;
    margin-top: 0.5rem;
  }
}

.cardTitle {
  font-family: "Roboto Bold";
}

.contentCentered {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ObservationsItem {
  margin: 0.5rem;
  &[data-important="1"] {
    border-left: 2px solid red;
    border-radius: 10px;
  }
}

.observationsContent {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
  align-items: center;
}

.boldText {
  font-family: "Roboto Bold";
  color: var(--blue);
}

.tbody {
  display: flex;
  flex-direction: column;
  height: 100%;
  scrollbar-color: #2c5282e8 #f1f1f1;
  &::-webkit-scrollbar {
    width: 8px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: var(--dark-blue);
    border-radius: 10px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: var(--light-blue);
  }
}

.balance {
  padding: 0.25rem;
  border-radius: 5px;
  text-align: center;
}

.balance_true {
  @extend .balance;
  border: 1px solid #ff000047;
  color: red;
}
.balance_false {
  @extend .balance;
  border: 1px solid #0d551647;
  color: green;
}

.editButton {
  background-color: white;
  color: var(--dark-blue);
  padding: 0.25rem;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
  &:hover {
    background-color: var(--blue);
    color: white;
  }
}

.error_message_content {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.total_work {
  border-top: 1px solid var(--gray-text);
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 }



.list_materials {
  background-color: var(--light);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 2fr repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  & > p {
    text-align: center;
  }
}

.content_list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;

}

.list {
  display: flex;
  flex-direction: column;
}

.list_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.total_cargo {
  border-top: 1px solid var(--gray-text);
  padding: 0.5rem 0rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

.total {
  margin-top: 0.5rem;
  font-size: 14px;
}