@import "../../styles/mixins";

.wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  @include mq("phone", "max") {
    flex-direction: column;
  }
}

.logoContainer {
  flex: 2;
  display: flex;
  @include mq("phone", "max") {
    flex: 1;
  }
}

.img_content {
  display: flex;
  background: #000000;
  width: 100%;
  position: relative;
}
.img_content_img {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.img {
  width: 100%;
}

.input {
  width: 100%;
  margin: 1rem 0rem;
  display: flex;
  justify-content: center;
}

.formContainer {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fdfcff;
  text-align: center;
  z-index: 1;
  @include mq("phone", "max") {
    flex: 2;
  }
}

.logForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
}

.formContent {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--dark);
}

.content_logo {
  position: fixed;
  width: 70px;
  border-radius: 50%;
  background-color: #197ac900;
  top: 20px;
  height: 70px;
  z-index: 1;
  -webkit-animation: logo 2s 4s forwards;
  -moz-animation: logo 2s 4s forwards;
  -o-animation: logo 2s 4s forwards;
  animation: logo 2s 4s forwards;

  visibility: hidden;
}
.logo {
  width: 50px;
  left: 20px;
  top: 10px;
  position: absolute;
}

.content_title {
  position: absolute;
  left: 100px;
  top: 600px;
  -webkit-transform: rotate3d(9, 3, -6, 85deg);
  -moz-transform: rotate3d(9, 3, -6, 85deg);
  -o-transform: rotate3d(9, 3, -6, 85deg);
  -ms-transform: rotate3d(9, 3, -6, 85deg);
  transform: rotate3d(9, 3, -6, 85deg);
  -webkit-animation: title 2s 1s forwards;
  -moz-animation: title 2s 1s forwards;
  -o-animation: title 2s 1s forwards;
  animation: title 2s 1s forwards;
  visibility: hidden;
  display: flex;
  flex-direction: column;
}

.title {
  color: white;
  font-size: 52px;
  font-family: sans-serif;
  font-style: italic;
  font-weight: 900;
  text-shadow: -6px 20px 4px #203975;
}

.lines {
  width: 100%;
  @include mq("phone", "max") {
    display: none;
  }
  .line {
    position: absolute;
    height: 5px;
    visibility: hidden;
    -webkit-transform: rotate3d(9, 2, -6, 80deg);
    -moz-transform: rotate3d(9, 2, -6, 80deg);
    -o-transform: rotate3d(9, 2, -6, 80deg);
    -ms-transform: rotate3d(9, 2, -6, 80deg);
    transform: rotate3d(9, 2, -6, 80deg);
    &:nth-child(1) {
      top: 100px;
      width: 40%;
      left: 100px;
      opacity: 0.3;
      -webkit-animation: line_2 1s forwards;
      -moz-animation: line_2 1s forwards;
      -o-animation: line_2 1s forwards;
      animation: line_2 1s forwards;
    }
    &:nth-child(2) {
      top: 100px;
      width: 20%;
      left: 450px;
      opacity: 0.8;
      -webkit-animation: line_2 2s 1s forwards;
      -moz-animation: line_2 2s 1s forwards;
      -o-animation: line_2 2s 1s forwards;
      animation: line_2 2s 1s forwards;
    }
    &:nth-child(3) {
      top: 300px;
      width: 20%;
      left: 0px;
      opacity: 0.5;
      -webkit-animation: line_2 3s  forwards;
      -moz-animation: line_2 3s  forwards;
      -o-animation: line_2 3s  forwards;
      animation: line_2 3s forwards;
    }
    &:nth-child(4) {
      top: 250px;
      width: 80%;
      left: 250px;
      opacity: 0.3;
      -webkit-animation: line_1 3s 1s forwards;
      -moz-animation: line_1 3s 1s forwards;
      -o-animation: line_1 3s 1s forwards;
      animation: line_1 3s 1s forwards;
    }
    &:nth-child(5) {
      top: 500px;
      width: 80%;
      left: 0px;
      opacity: 0.5;
      -webkit-animation: line_1 3s 1s forwards;
      -moz-animation: line_1 3s 1s forwards;
      -o-animation: line_1 3s 1s forwards;
      animation: line_1 3s 1s forwards;
    }
    &:nth-child(6) {
      top: 450px;
      width: 20%;
      left: 0px;
      opacity: 0.8;
      -webkit-animation: line_2 2s 1s forwards;
      -moz-animation: line_2 2s 1s forwards;
      -o-animation: line_2 2s 1s forwards;
      animation: line_2 2s 1s forwards;
    }
    &:nth-child(7) {
      top: 600px;
      width: 80%;
      left: 250px;
      opacity: 0.8;
      -webkit-animation: line_1 1s 2s forwards;
      -moz-animation: line_1 1s 2s forwards;
      -o-animation: line_1 1s 2s forwards;
      animation: line_1 1s 2s forwards;
    }
  }
}

.line {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #170d5b, #19c0ec);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.circle {
  width: 10px;
  height: 10px;
  background: #19c0ec;
  border-radius: 50%;
  box-shadow: 1px -1px 0px 20px #19135f7d;
  position: fixed;
}

.content_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes logo {
  from {
    top: -100px;
    visibility: hidden;
  }
  to {
    top: 20px;
    visibility: visible;
  }
}

@keyframes title {
  0% {
    opacity: 0;
    left: -300px;
    visibility: hidden;
    //top: 400px;
  }
  100% {
    opacity: 1;
    left: 150px;
    top: 650px;
    visibility: visible;
  }
}

@keyframes line_1 {
  0% {
    width: 0%;
    visibility: hidden;
  }
  100% {
    width: 80%;
    visibility: visible;
  }
}

@keyframes line_2 {
  0% {
    width: 0%;
    visibility: hidden;
  }
  100% {
    width: 40%;
    visibility: visible;
  }
}
