.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  gap: 2rem;
}

.boldText {
  font-family: "Roboto Bold";
  color: var(--blue);
}

.bottom {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  margin: 1rem 0rem;
  border-top: 1px solid var(--gray-text);
  padding: 1rem;
}
