@import "../../styles/mixins";
.container {
  min-width: 4rem;
  border-right-width: 1px;
  background-color: var(--dark);
  @include mq("phone", "max") {
    display: flex;
    justify-content: space-around;
    order: 2;
    border-right-width: 0px;
  }
}
.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  width: 100%;
  background-color: var(--dark);
  border-bottom: 1px solid white;
}

.logo {
  height: 2rem;
  object-fit: cover;
}

.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  @include mq("phone", "max") {
    width: 100%;
    margin-top: 0rem;
    justify-content: space-around;
    flex-direction: row;
  }
}

.li {
  padding: 1rem;
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
  cursor: pointer;
  &:hover .icon {
    color: white;
  }
}

.icon {
  color: #2d3748;
  stroke: white;
  stroke-width: 25px;
  font-size: 1.5rem;
  transition: color 0.2s linear;
}

.icon_active {
  color: white;
}
