.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  position: relative;
  width: 100%;
  height: 100%;
}

.content {
  height: 100%;
}

.progressBarContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 1rem 0rem;
  height: 3rem;
  border-bottom: 1px solid var(--gray-text);
  padding: 0rem 1rem;
}

.progessBar {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 1px;
  background-color: var(--gray-text);
}

.step {
  border-radius: 50%;
  background-color: white;
  text-align: center;
  padding: 0.25rem;
}
