.team_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1rem;
}

.img_content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  width: 50px;
  margin: 0rem 0.2rem;
}
